@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family-body: "Barlow Semi Condensed", sans-serif;
$font-family-heading: "Barlow Semi Condensed", sans-serif;

$font-size-xs: 11px;
$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 28px;
$font-size-2xl: 32px;
$font-size-3xl: 40px;

@mixin text-preset(
  $font-size,
  $font-family,
  $font-weight: 400,
  $line-height: 1,
  $font-style: normal
) {
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin text-preset-1 {
  @include text-preset($font-size-lg, $font-family-heading, 600, 1.2);
}

@mixin text-preset-2 {
  @include text-preset($font-size-sm, $font-family-body, 500, 1.1);
}

@mixin text-preset-3 {
  @include text-preset($font-size-sm, $font-family-body, 500, 1.4);
}

@mixin text-preset-4 {
  @include text-preset($font-size-xs, $font-family-body, 500, 1.1);
}
